{% extends "infos\home.html" %}

{% block head %}    
<title>Kontakt</title>
{% endblock %}

{% block content %}   
<div style="background-color: rgb(142, 238, 249); padding: 10px; box-shadow: 3px 3px grey; margin-bottom: 20px;">
    <img src="https://dks.art.pl/lista/00c7a6b5zumba.png"; style="float: left; height: 200;">
    <div style="margin-left: 400px;">
        <h2><span>Zapraszam do kontaktu</span></h2>
      <ul>
        <li><strong>email: </strong> <em>mbawolik80@gmail.com</em></li>
        <li><strong>telefon:</strong> <em>503 036 007</em></li>
      </ul>
  
<h3>Wyślij wiadomość</h3>
<form>
    <form action="" method="POST"> 
    <label> <input type="text" name="wiadomość"></label>
    <input type="submit" value="Prześlij">
</form>
   </div>
</div>
{% endblock %}